*{
    margin: 0;
    padding: 0;
}
.tuttom{
    width: 50%;
    height: 50vh;
    background-color: aqua;
    margin: 20%;
    padding: 20px;
   
}
input[type=text] {
    margin-left: 10px;
}
.right{
   font-size: 20px;
}