body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    /* code here */
    gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
}

.item {
    padding: 10px;
    background: #2727d6;
    color: #fff;
    font-size: 30px;
}