* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-auto-rows: 120px;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container>div {
    background-color: rgba(18, 3, 185, 0.8);
}

@media(min-width:1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:767px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:400px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}