* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
form{
    background: palevioletred;
    background-image:radial-gradient( rgb(161, 105, 114));
}
.username{
    width: 50%;
    height: 30vh;
}