

.btn {
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit {
    
  background: teal;
}

.btn-reset {
  background: orange;
}

.btn-reload {
  background: purple;
}

.btn-login {
  background: darkblue;
}