* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
}

.charset {
    background-color: rgb(222, 34, 65);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.item1 {
    background-color: aqua;
}

.item2 {

    background-color: aqua;
}

.item3 {
 
    background-color: aqua;
}

.item4 {
 
    background-color: aqua;
}