.container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
}  
.card {
    border: $border;
    padding: 10px;
}
.card-header {
    text-transform: uppercase;
    border-bottom: $homw;
}