/* .icons-size{
    font-size: 500px;
    color: aqua;
    
} */
/* button{
    width: 200px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: rgb(16, 192, 63);
    color: red;
    border-radius: 40px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* 
.fa-android{
   font-size: 100px;
   color: brown;
} */
